.content-input {
    width: auto;
    margin: 8px 0px;
    display: grid;
    grid-template-areas: "input"
}

.input {
    grid-area: input;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dadce0;
    padding: .4rem 1.2rem;
    outline: none;
}

.input:focus-visible {
    border: 2px solid #1a73e8;
}

.input-label {
    grid-area: input;
    z-index: 100;
    width: max-content;
    align-self: center;
    display: flex;
    align-items: center;
    color: #a2a2a2;
    font-size: 13px;
    margin-left: 15px;
    transition: transform .2s;
    transform: center left;
    pointer-events: none;
}

.input:where(:focus, :not(:placeholder-shown))+.input-label {
    transform: translateY(-100%) translateX(-10%) scale(.9);
    background-color: #fff;
    color: #1864c9;
    font-size: 14px;
    z-index: 2;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}

.input-error {
    border: 2px solid #d76a6a !important;
}