.content-input {
    position: relative;
    width: auto;
    display: grid;
    grid-template-areas: "input"
}

.input {
    grid-area: input;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dadce0;
    padding: .4rem .7rem;
    outline: none;
}

.input:focus-visible {
    border: 2px solid #1a73e8;
}

.input-label {
    grid-area: input;
    z-index: 100;
    width: max-content;
    align-self: center;
    display: flex;
    align-items: center;
    color: #a2a2a2;
    font-size: 13px;
    margin-left: 15px;
    transition: transform .2s;
    transform: center left;
    pointer-events: none;
}

.input:where(:focus, :not(:placeholder-shown))+.input-label {
    transform: translateY(-90%) translateX(-10%) scale(.9);
    background-color: #fff;
    color: #1864c9;
    font-size: 14px;
    z-index: 2;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}

.input-error {
    border: 2px solid #d76a6a !important;
}


/**Input icon**/

.input-icon {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    height: 36px;
    border-left: 1px solid #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    /* background: #000; */
    border-radius: 6px;
    color: #000;
    cursor: pointer;
}

.input-icon i {
    font-size: 18px;
}

.p-icon {
    padding: .4rem 3.1rem .4rem .5rem;
}


/**
Selectize title
**/

.select-title {
    position: absolute;
    z-index: 2;
    font-size: 13px;
    color: #1864c9;
    font-weight: 700;
    top: -30%;
    left: 10px;
    background-color: #fff;
}

.select-icon {
    height: 38px;
    width: 38px;
    background: #f6f9ff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    font-size: 20px;
    color: #188355;
}